/*
 CSS Reset
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */

#opiodDeathVisual {
  margin: 25px auto;
  max-width: 1200px;
  width: 90%;
  background: #48466d;
  min-width: 400px;
}

#opiodDeathVisual .title {
  padding: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: bold;
}
#opiodDeathVisual .content{
  position:relative;
  overflow-y:scroll;
  max-height:600px;
}

#opiodDeathVisual .content .controls {
  background-color: #3d84a8;
  padding: 15px;
}

#opiodDeathVisual .content .controls h4 {
  display: none;
}

#opiodDeathVisual .content .controls ul {
  display: flex;
  justify-content: center;
}

#opiodDeathVisual .content .controls ul li {
  text-decoration: underline;
  padding: 5px;
  flex-grow: 1;
  text-align: center;
  max-width: 100px;
}

#opiodDeathVisual .content .controls ul li:hover {
  background-color: #48466d;
  cursor: pointer;
}

#opiodDeathVisual .content .controls ul li.active {
  background-color: #48466d;
  color: white;
}

#opiodDeathVisual .content .graph {
  background-color: white;
  padding: 15px;
  min-height: 500px;
  display: grid;
  align-items: center;
}

#opiodDeathVisual .content .loading{
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:black;
  font-weight:bold;
  font-size:1.2em;
  
}

#opiodDeathVisual .citation {
  padding: 15px;
  font-size: 0.8em;
  line-height: 1.4em;
}

#opiodDeathVisual .content .graph canvas {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 600px) {
 
  #opiodDeathVisual {
    padding:15px;  
  }
  
  #opiodDeathVisual .content {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  #opiodDeathVisual .content .controls h4 {
    display: block;
    margin-bottom: 15px;
    text-align:center;
    font-weight:bold;
  }

  #opiodDeathVisual .content .controls ul {
    flex-direction: column;
  }
  #opiodDeathVisual .content .controls ul li {
    max-width:100%;
  }
}
